* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #8257e6;
  --secondary-color: #202024;
}

body {
  background-color: #fafafa;
  font-size: 62.5%;
  transition: background 0.2s linear;

  height: 100vh;
  margin: 0;
}

body.dark {
  background-color: #09090a;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #fafafa;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  position: relative;
  height: 20px;
  width: 48px;

  transform: scale(1);
}

.label .ball {
  background-color: #09090a;
  border-radius: 50%;
  position: absolute;
  top: 1.2px;
  left: 2px;

  height: 18px;
  width: 18px;

  transform: translateX(0px);
  transition: transform 0.2s ease;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  font-size: 0.8rem;
  color: #f1c40f;
}

.fa-sun {
  /* margin-top:2px; */
  font-size: 0.8rem;
  color: #f39c12;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-size:20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 1px 12px 2px rgb(0 0 0 / 10%);
}

header ul{
  max-width: 1200px;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a:hover {
  text-decoration: underline var(--primary-color) 2px;
  text-underline-offset: 2px;
}

.theme{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
}

.teste{
  color: black;
}

a {
  font-size: 1rem;
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 10px;
}

.container {
  width:100%;
  background-color: var(--secondary-color);
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1rem;
}

.container img{
  object-fit: cover;
  width:100%;
  height: 100%;
  border-radius: 10px;
  transition:all 0.2s ease-in-out;
}

.container img:hover{
  cursor: pointer;
  transform: scale(1.02);
}


h2 {
  display: inline-block;
}

footer {
  position:absolute;
  bottom: 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.icon {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  background-color: var(--secondary-color);
  font-size: 0.7rem;
  position: fixed;
  right: 3rem;
  bottom: 8rem;
  transition: all 0.2s ease;
}

.icon:hover {
  background-color: #1c1c1f;
  transform: scale(1.1);
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.containers{
  display: flex;
  gap: 20px;
}

.titleProject{
  font-size:30px;
  margin-top:20px;
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
}

#projetos{
  margin-block: 20px;
}

#sobre {
  height: auto;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
}

#sobre i {
  width: 100px;
  height: auto;
  position: absolute;
  right: 100px;
  top: 8rem;
  font-size: 10rem;
  color: var(--primary-color);
  object-fit: cover;
  animation: MoveUpDown 1s linear infinite;
}

#funciona li{
  margin-block: 15px;
  list-style: disc;
}

.container h2{
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--primary-color);
}


.testeDeCor{
  animation: selected 1s alternate;
}

@keyframes selected {
  0%     {background-color:var(--secondary-color);}
  50%  {background-color:#373636;}
  100%  {background-color:var(--secondary-color);}
}


@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}